plotly
pandas
beautifulsoup4
# textrank4zh
streamlit-aggrid
streamlit-echarts
paddleocr
paddlepaddle
pdfplumber
python-docx
pdf2image
selenium
# snapshot_selenium
# snapshot_phantomjs
webdriver_manager
streamlit-tags
transformers
sentencepiece
torch
streamlit==1.11
