fastapi
uvicorn
pandas
beautifulsoup4
streamlit-aggrid
streamlit-echarts

pdfplumber
python-docx
pdf2image
selenium
webdriver_manager
streamlit-tags
streamlit
chinese2digits
python-multipart
openai
pymongo
python-dotenv
requests